<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
        <%= link_to "#{current_user.last_name} #{current_user.first_name} さん"%>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'schedule', collection: @schedules %>
    </div>
  </div>
</main>
